<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="cn.zq.dao.QgGoodsTempStockMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

        INSERT INTO qg_goods_temp_stock_temp
        (
        goodsId,
        userId,
        STATUS,
        createdTime,
        updatedTime
        )
        VALUES
        (
        #{goodsId},
        #{userId},
        #{status},
        #{createdTime},
        #{updatedTime}
        );


    </insert>
</mapper>