<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="cn.zq.dao.QgOrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

        INSERT INTO qg_order_temp
        (
        userId,
        stockId,
        orderNo,
        goodsId,
        num,
        amount,
        STATUS,
        aliTradeNo,
        createdTime,
        updatedTime
        )
        VALUES
        (
        #{userId},
        #{stockId},
        #{orderNo},
        #{goodsId},
        #{num},
        #{amount},
        #{status},
        #{aliTradeNo},
        #{createdTime},
        #{updatedTime}
        );

    </insert>
    <insert id="confirm">
        INSERT INTO qg_order
        (
        id,
        userId,
        stockId,
        orderNo,
        goodsId,
        num,
        amount,
        STATUS,
        aliTradeNo,
        createdTime,
        updatedTime
        )
        SELECT id,
        userId,
        stockId,
        orderNo,
        goodsId,
        num,
        amount,
        STATUS,
        aliTradeNo,
        createdTime,
        updatedTime
        From qg_order_temp
        WHERE id =#{id}

    </insert>

    <delete id="cancel">
        DELETE FROM qg_order_temp WHERE id=#{id}
    </delete>

</mapper>