<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="cn.zq.dao.QgGoodsTempStockMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

        INSERT INTO qg_goods_temp_stock_temp
        (
        goodsId,
        userId,
        STATUS,
        createdTime,
        updatedTime
        )
        VALUES
        (
        #{goodsId},
        #{userId},
        #{status},
        #{createdTime},
        #{updatedTime}
        );


    </insert>
    <insert id="confirm">
        INSERT INTO qg_goods_temp_stock
        (
        id,
        goodsId,
        userId,
        STATUS,
        createdTime,
        updatedTime
        )
        SELECT id,goodsId,userId,1 AS STATUS,
        createdTime,
        updatedTime
        From qg_goods_temp_stock_temp
        WHERE id =#{id}

    </insert>


    <delete id="cancel">
        DELETE FROM qg_goods_temp_stock_temp WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE qg_goods SET stock=stock-#{num} WHERE id =#{gid}
    </update>
</mapper>